@use "./mixins" as mixin;
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

//table
.responsiveTable {
  background: var(--primary);
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;
  font-size: 1.6rem;

  &__row {
    display: grid;
    border-bottom: 1px solid var(--primary);
    padding: 0 1.5rem;
    border-bottom: 1px solid #edeef2;

    grid-template-columns: 1fr 1fr 1fr 1fr 1.3fr 1.2fr 1fr 0.5fr 1fr;
    @include mixin.md {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mixin.sm-lt {
      grid-template-columns: auto;
    }
    th,
    td {
      padding: 1rem;
    }
  }

  &__head {
    background: var(--primary-dark);
    cursor: pointer;
    @include mixin.md-lt {
      display: none;
    }
    &__title {
      color: white;
      display: flex;
      align-items: center;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
  &__body {
    .responsiveTable__row {
      transition: 0.1s linear;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: var(--gray-2);
        background-color: var(--secondary);
      }
    }
    &__text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow: hidden;

      &::before {
        margin-right: 1rem;

        font-weight: 600;
        text-transform: capitalize;
      }
      @include mixin.md-lt {
        &::before {
          content: attr(data-title) " :";
          cursor: pointer;
        }
      }
    }
  }
}

td > span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// search
.search-table {
  width: 75%;
  @include mixin.lg-lt {
    width: 75%;
  }
  @include mixin.xs {
    width: 100%;
  }
}
