@use "./mixins" as mixin;
.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

// TYPO
%heading {
  font-weight: 400;
}

.heading-1 {
  @extend %heading;
  font-size: 4.5rem;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  font-style: italic;
  line-height: 1;

  &--light {
    color: var(--gray-2);
  }
  &--dark {
    color: var(--gray-1);
  }
}

.heading-3 {
  @extend %heading;
  font-size: 1.6rem;
  color: var(--primary);
  text-transform: uppercase;
}

.heading-4 {
  @extend %heading;
  font-size: 1.9rem;

  &--light {
    color: var(--gray-2);
  }
  &--dark {
    color: var(--gray-1);
  }
}

//table
.responsiveTable {
  background: var(--primary);
  border-collapse: collapse;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  margin: 2rem 0;
  overflow: hidden;
  font-size: 1.6rem;

  &__row {
    display: grid;
    border-bottom: 1px solid var(--primary);
    padding: 0 1.5rem;
    border-bottom: 1px solid #edeef2;
    // grid-template-columns: repeat(9, 1fr);
    grid-template-columns: 1fr 1fr 1fr 1fr 1.3fr 1fr 1fr 1fr 1fr;
    @include mixin.md {
      grid-template-columns: 1fr 1fr 1fr;
    }
    @include mixin.sm-lt {
      grid-template-columns: auto;
      // justify-content: center;
    }
    th,
    td {
      padding: 1rem;
    }
  }

  &__head {
    background: var(--primary-dark);
    cursor: pointer;
    @include mixin.md-lt {
      display: none;
    }
    &__title {
      color: white;
      display: flex;
      align-items: center;
      font-weight: 500;
      text-transform: capitalize;
    }
  }
  &__body {
    .responsiveTable__row {
      transition: 0.1s linear;
      transition-property: color, background;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        color: var(--gray-2);
        background-color: var(--secondary);
      }
    }
    &__text {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      overflow: hidden;

      &::before {
        margin-right: 1rem;

        font-weight: 600;
        text-transform: capitalize;
      }
      @include mixin.md-lt {
        &::before {
          content: attr(data-title) " :";
          cursor: pointer;
        }
      }
    }
  }
}

td > span {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.responsiveTable__body {
}
.responsiveTable__body__text {
}
